h1,
p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
thead {
  background-color: #bab8b8;
}
.done {
  background-color: #5de77b;
}
.attempted {
  background-color: #f6a383;
}
table {
  border: 2px solid rgb(2, 2, 2);
}

td {
  margin: 0;
  border: 1px solid rgb(2, 2, 2);
}
td {
  padding: 5px;
}

.id,
.day {
  text-align: center;
}
.link,
.timer {
  text-align: center;
  width: 80px;
}

.wrapper {
  border-radius: 5px;
}

.container {
  background-color: rgb(188, 188, 188);
}

.barCompleted {
  background-color: rgb(75, 254, 144);
}

.center-container {
  width: 90%;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: auto;
}

.flex {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.flex > div {
  width: 100%;
  height: auto;
  font-size: large;
  font-weight: 600;
  text-align: center;
}
.inline {
  display: inline-block;
  width: 100%;
  height: auto;
  font-size: large;
  font-weight: 600;
  text-align: center;
}
/* .top-fix{
  position: fixed;
  top: 0;
  width: 80%;
  z-index: 1;
  background-color: #fff;
}
.bottom-scroll{
  margin-top: 50px;
} */
.bottom-fix {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
  background-color: #fff;
}
